@use "../../../assets/styles/variables" as *;

.latest-article {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

    &__left {
        padding-right: 24px;
        &--info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__right {
        width: 152px;
        height: 137px;
    }
}