@use "../../../assets/styles/variables" as *;

.latest-article {
    display: flex;
    padding: 12px 0;

    &__left {
        padding-right: 24px;
    }

    &__right {
        width: 152px;
        height: 137px;
    }

    &__image {
        width: 152px;
        height: 137px;
    }

    & h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: $primary-color-main;
    }

    & h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: $primary-color-light;
    }

    & a {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: $primary-color-main;
    }

    & p {
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
        color: $primary-color-light;
    }
}