@use "../../../assets/styles/variables" as *;

.image {
    &__featured {

    }

    &__article {
        &--avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $secondary-color-main;
            padding: 3px;
        }

        &__latest {
            width: 152px;
            height: 137px;
            object-fit: cover;
        }

        &--popular {
            width: 55px;
            height: 55px;
            object-fit: cover;
        }
    }
}


