@use "../../../assets/styles/variables" as *;

.sidebar {
    &__articles-popular {
        &-container {
            & > .h2__topic {
                margin-top: 48px;
            }
        }

        &-list {
            display: flex;
            justify-content: space-between;
            margin: 16px 0;
            &--summary {
                margin-right: 16px;
                & > .h3__article--secondary {
                    margin-bottom: 4px;
                }
            }
        }
    }
}
