@use "assets/styles/variables" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  max-width: 1807px;
  margin: 0 auto;
  padding: 0 64px;
  font-family: $primary-font-family;
}
